@font-face {
    font-family: 'alegreya';
    src: url('fonts/alegreyasanssc-black-webfont.woff2') format('woff2'),
         url('fonts/alegreyasanssc-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --yellow: #ffc92f;
    --red: #d82727;
    --black: #1b1b1b;
    --titleFont: 'Yanone Kaffeesatz', Arial, sans-serif;
    /* создали переменные для часто используемых элементов */
}

html, body {
height: 100%; /*растягиваю по всей высоте окна */
margin: 0;
}

.wrapper {
    overflow: hidden;
    /* скрытиe элементов переполнения*/

    min-width: 1540px;
}

.wrapper__product {
    height: 180px;
    margin-bottom: 100px;
}

.container {
    margin: 0 auto;
    width: 1300px;
}

body {
font: 16px / 1.42 "Roboto", Arial, sans-serif; 
/* первое значение размер шрифта, второе - высота строки line-height, второе семейство шрифтов
указывается на случай, если первый не подгрузится*/
color: var(--black);
-webkit-font-smoothing: antialiased; /* сглаживание шрифтов */
-moz-osx-font-smoothing: grayscale;
background: #fcf5e6;
}

ul {
    margin: 0;
    padding: 0;
    /* уберём отсутпы так как эти значения браузер ставит по умолчанию */
}

ul > li {
    list-style: none;
    /* убираем точки из списка */
}

/* hero */

.hero {
height: 100vh; /* 100% от высоты окна */
min-height: 650px;
background: url(img/bg/hero.jpg) center center / cover no-repeat; 
/* 1 center по оси х, 2 по оси у; cover чтобы картинка всегда заполняла блок,
bg position и bg size должны идти друг за другом через / чтобы являлись валидным свойством */
position: relative;
margin-bottom: 130px;
}

/*  header */

.header {
width: 1290px;
margin: 0 auto; /* чтобы выравнивался по центру экрана при сужении */
display: flex;
justify-content: space-between;
align-items: center; /* выравнивание относительно центра */
padding-top: 27px;
}

.header__product {
    background: url(img/bg/hero.jpg) center center / cover no-repeat;
    margin-bottom: 90px;
    height: 180px;
    width: auto;
    padding: 0 150px;
}

.mail {
text-decoration: none; /* убирает подчёркивание */
text-align: center;
color: inherit; /* наследует свойство от родителя */
}

.mail__title {
margin-bottom: 3px;
}

.mail__content {
background: #212121;
color: var(--yellow);
padding: 5px;
}

/*  hero__content */

.hero__content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 1140px;
height: 72%;
}

.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 75px;
    background: #212121;
    padding: 0 3% 0 4%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: width .3s;
}

.sidebar__menu {
    position: absolute;
    left: -400px;
    transition: .3s;
}

.sidebar--opened .sidebar__menu {
    left: 0;
    width: 100%;
    text-align: center;
    transition-delay: left .1s;
}

.sidebar__hamburger-icon {
    width: 29px;
    height: 29px;
    fill: var(--yellow);
}

.sidebar__hamburger {
    display: block;
    position: absolute;
    top: 27px;
    left: 50%;
    transform: translate(-50%);
}

.sidebar--opened {
    /* sidebar--opened - модификатор окна */
    width: 325px;
    padding: 0 3% 0 4%;
}   

.sidebar--opened .sidebar__hamburger {
    display: none;
}

.sidebar--opened .sidebar__header {
    display: flex;
}

.sidebar__header {
    position: absolute;
    left: 0;
    top: 29px;
    right: 0;
    display: none;
    justify-content: center;
}

.sidebar__close {
    position: absolute;
    top: -4px;
    right: 23px;
}

.sidebar__close-icon {
    width: 29px;
    height: 29px;
    fill: var(--yellow);
}

.side-menu__item {
    margin-bottom: 20px;
}

.side-menu__link {
    font-size: 20px;
    font-family: var(--titleFont);
    color: var(--yellow);
    text-transform: uppercase;
    text-decoration: none;
}

.side-menu__link:hover {
    color: var(--red);
}

.fade-slider {
width: 100%;
height: 100%;
position: relative;
}

.fade-slider__item {
background: center center / contain no-repeat;
/* contain - чтобы bg растягивался пропорционально */
height: 100%;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0;
transition: opacity .3s;
}

.fade-slider__item-product {
    url
}

.fade-slider__item--visible {
    opacity: 1;
}

.lined-text--no-indent {
    transform: rotate(1deg);
}

/* центрирую первую строчку для классов с модификатором no-indent */
.lined-text--no-indent:first-child {
    align-items: center;
}

.fade-slider__item--style-thirts {
    background-image: url(img/content/hero/slider_pic_1.png);
}

/* выравниваю thirts */
.fade-slider__item .fade-slider__text--style-thirts {
    top: 340px;
    left: 670px;
}

/* отступы для каждой второй строчки */
.lined-text--indent .lined-text__word:nth-child(2n) {
    margin-left: 8px;
}

.lined-text--header__guys .lined-text__word:nth-child(2n) {
    margin-left: 8px;
}

.lined-text--header__guys .lined-text__word {
    padding: 3px 10px 5px;
}

.fade-slider__item--style-games {
    background-image: url(img/content/hero/slider_pic_2.png);

}

/* выравниваю games */
.fade-slider__item .fade-slider__text--style-games {
    top: 570px;
    right: 700px;
}

.fade-slider__item--style-present {
    background-image: url(img/content/hero/slider_pic_3.png);
}

/* выравниваю present */
.fade-slider__item .fade-slider__text--style-present {
    top: 485px;
    right: 300px;
}

/* для present первой строки увеличиваю размер текста */
.fade-slider__text--style-present .lined-text--no-indent .lined-text__word:first-child {
    font-size: 87px;
} 

.fade-slider__text {
    position: absolute;
    left:  50%;
    top: 50%;
    transform: translate(-164%, -52%);    
}

.fade-slider__text--header__guys {
    position: absolute;
    left: 47%;
    top: 100px;
    transform: translate(-150%, -40%);   
    
}

.lined-text {
font-family: "alegreya", Arial, sans-serif;
color: #fff;
font-size: 63px;
text-transform: uppercase;
line-height: 1;

/* делаем колоночным */
display: flex;
flex-direction: column;

/* прижимаем к левому краю */
align-items: flex-start;
}

.lined-text .lined-text--no-indent {
   margin-left: 0;
}

.lined-text--header__guys {
    font-size: 30px;
}

.header__guys {
  position: relative;
    margin-top: 70px;
    margin-right: -160px;
}

.lined-text__word {
background: #000;
padding: 0 17px 8px;
margin-top: -7px;

white-space: nowrap;
/* текст не переносится */
}

.lined-text__word--color-yellow {
color:  var(--yellow);   
}

/* products */

.filter {
    display: flex;
    align-items: center; 
    /* выравниваем по центру */

    justify-content: center;
    /* размещаем по центру */

    margin-bottom: 100px;
}

.filter__item {
    margin-right: 40px;
}

.filter__item:last-child {
    margin-right: 0;
}

.filter__link {
    font-family: var(--titleFont);
    text-transform: uppercase;
    padding: 3px 21px ;
    color: var(--black);
    font-size: 24px;
    font-weight: bold;

    display: inline-block; 
    /* придаём строке блочное поведение */

    text-decoration: none;
}

.filter__link:hover {
    color: var(--red);
    /* при наведении объект будет иметь красный цвет */
}

.filter__item--active .filter__link {
    color: var(--yellow);
    background: var(--black);
}

/* products */

.products {
    margin-bottom: 160px;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -28px;
}

.products__item {
    width: 302px;
    height: 386px;
    background: var(--yellow);
    margin-bottom: 35px;
    margin-left: 27px;
    position: relative;
}

.products__price {
    position: absolute;
    top: 18px;
    left: -6px;

    width: 126px;
    border-bottom: 45px solid #232323;
    border-left: 5px solid transparent;
    /* создали прозрачный элемент */

    border-right: 2px solid transparent;
    
    transform: rotate(-181deg);
    /* переворачиваем фигуру */


}

.products__price-amount {
    font-size: 30px;
    font-weight: bold;
    font-family: var(--titleFont);
    color: #fff;
    transform: rotate(181deg);
    position: absolute;
    top: 2px;
    right: 28px;
    /* так как перевернули то поменялись и стороны */
}

.products__item--color-black {
  background: #232323;  
}

.products__item--color-black .products__price {
    border-color: var(--yellow);
}

.products__item--color-black .products__price-amount {
    color: #212121;
}

.products__item--size-double {
    width: 630px;
    height: 534px;
}

.products__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.products__desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 23px 30px;
    background: rgba(35, 35, 35, 0.8);
    /* 0.8 это 80% */
    font-size: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100%);

    transition: transform .3s;
    /* задаём плавность появления */
}

.products__item:hover .products__desc {
    transform: translateY(0%);
}

.products__desc-text {
    text-align: center;
    margin-bottom: 18px;
}

.products__img {
    display: block;
    max-width: 90%;
    max-height: 100%;
}

.btn {
    text-transform: uppercase;
    font-family: var(--titleFont);
    font-size: 24px;
    padding: 2px 30px;
    background: var(--black); 
    color: var(--yellow);
    display: inline-block;
    text-decoration:  none;
}

.btn:hover {
    background: var(--red);
    color: #fff;
}

/* collections */

.collections {
    margin-bottom: 135px;
} 

.collections__list {
    display: flex;
}

.collections__item {
    min-height: 474px;
    flex: 1;
    overflow: hidden;
    margin-right: 30px;
    background: url('img/bg/pattern.png') center center / 500px;
    position: relative;
}

.collections__item:last-child {
    margin-right: 0;
}

.collections__item:before {
    content: "";
    display: block;
    position: absolute;
    height: 176%;
    width: 60%;
    top: -17%;
    left: -18%;
    background: center center / contain no-repeat;
}

.collections__item--type-guys:before {
    background-image: url('img/collections/collection_man.png');
}

.collections__item--type-girls:before {
    background-image: url('img/collections/collection_woman.png');
    top: -31%;
    width: 80%;
    left: -25%;
}

.collections__link { 
    display: block;
    padding: 74px 13% 74px 44%;
    text-decoration: none;
    color: inherit;
    font-size: 15px;

    position: relative;
    height: 100%;
    box-sizing: border-box;
}

.collections__link:hover .btn {
    background: var(--red);
    color: #fff;
}

.collections__title {
    font-family: var(--titleFont);
    font-size: 70px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 11px;
}

.collections__desc {
    margin-bottom: 28px;
}

/* footer */

.footer {
    margin-bottom: 115px;
}

.footer__container {
    width: 1105px;
}

.site-menu {
    margin-bottom: 115px;

}

.site-menu__sections {
    display: flex;
    justify-content: space-between;
}

.site-menu__col {
    margin-right: 20px;
}

.site-menu__col:last-child {
    margin-right: 0;
}

.site-menu__title {
    font-family: var(--titleFont);
    font-size: 24px;
    font-weight: bold;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-bottom: 15px;
}

.site-menu__item {
    margin-bottom: 15px;
}

.site-menu__link {
    color: #737373;
    font-size: 15px;
    text-decoration: none;
}

.site-menu__link:hover {
    color: var(--red);
}

.site-menu__text {
    font-size: 15px;
    color: var(--black);
    margin-bottom: 30px;
}

.site-menu__text-row {
  color: inherit;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

/* extras */

.extras {
    display: flex;
    margin-bottom: 95px;
}

.extras__col {
    margin-right: 20px;
    flex: 4; 
    /* задаём всем один размер */
}

.extras__col:last-child {
    margin-right: 0px;
}

.extras__best {
    text-align: center;
    color: #ffffff;
    background: #232323;
    font-size: 50px;
    font-weight: bold;
    font-family: var(--titleFont);
    text-transform: uppercase;
    padding: 39px 10%;
    display: block;
    text-decoration: none;
    line-height: 1;
}

.extras__col-socials {
    height: 100%;
    background: url(img/bg/pattern.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials {
    display: flex;
}

.socials__item {
    margin-right: 50px;
}

.socials__item:last-child {
    margin-right: 0px;
}

.socials__link {
    width: 38px;
    height: 38px;
    display: block;
}

.socials__link:hover .socials__icon {
    fill: var(--red);
}

.socials__icon {
    width: 100%;
    height: 100%;
}

/* product.html */

.container__products {
  width: 1118px;
}

.tshirts-choice {
  display: flex;
  border: 10px solid var(--yellow);
  margin-bottom: 95px;
}

.tshirts-choice__col {
  flex: 1;
  position: relative;
}

.tshirts-choice__item {
  background: var(--yellow);
  position: absolute;
  width: 548px;
  height: 738px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tshirts-choice__img {
  display: block;
  max-width: 90%;
  max-height: 100%;
  margin: 0 auto;
}

.tshirts-options__brand {
  font-size: 17px;
  font-weight: bold;
  font-family: var(--titlesFont);
  color: var(--yellow);
}

.tshirts-options__name {
  color: var(--black);
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-weight: bold;
    margin-top: 2px;
}

.tshirts-options__price {
  background: var(--yellow);
  width: 95px;
}

.tshirts-options__price--amount {
  font-size: 30px;
  font-weight: bold;
  font-family: var(--titleFont);
  color: #212121;
  text-align: center;
}


.tshirts-options__info, .tshirts-options__about {
  border-bottom: 2px solid #e0d9c8;
  padding: 30px;
}

.tshirts-options__item {
  color: var(--black);
  margin-bottom: 20px;
}

.tshirts-options__item:last-child {
  margin-bottom: 0;
}

.tshirts-choice__btn {
  font-size: 28px;
  padding: 5px 70px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.tshirts-choice__size {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.size__btn input {
  position: absolute;
  top: 0;
  left: -9999px;
}
.size__btn {
  margin-right: 10px;
}

.size__btn:last-child {
  margin-right: 0;
}

.size__btn-radio {
  display: inline-block;
  border: 1px solid #e0d9c8;
  border-radius: 2px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  height: 48px;
  min-width: 48px;
  padding: 10px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.size__btn-radio:hover {
background-color: var(--yellow);
}

input[type="radio"]:checked+.size__btn-radio {
  background-color: var(--yellow);
}

input[type="radio"]:disabled+.size__btn-radio {
  color: #e0d9c8;
}

input[type="radio"]:disabled+.size__btn-radio:hover {
  background-color:  initial;
}


.color__btn input {
  position: absolute;
  top: 0;
  left: -9999px;
}

.color__btn {
  margin-right: 20px;
}

.color__btn:last-child {
  margin-right: 0;
}

.color__btn-radio {
  display: inline-block;
  border: 1px solid #e0d9c8;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  height: 25px;
  min-width: 25px;
  position: relative;
}

.color__btn input:checked + label:before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  border-radius: 50%;
  border: 3px solid #ffcf48;
}

.color__btn-radio--black {
  background-color: var(--black);
}

.color__btn-radio--white {
  background-color: #fcf5e6;
}
.color__btn-radio--green {
  background-color: #529029;
}
.color__btn-radio--blue {
  background-color: #39498d;
}
.color__btn-radio--red {
  background-color: var(--red);
}

.color__btn-radio:hover:after {
  border-color: var(--yellow);
}

.color__btn--checked:before {
content: '';
display: inline-block;
position: absolute;
width: 25px;
height: 25px;
border: 3px solid var(--yellow);
border-radius: 50%;
z-index: 1;
transform: translate(-3px, -3px);
} 

.information {
  margin-bottom: 90px;
}

.information__list {
  position: relative;
  margin-left: 60px;
}

.information__item {
  display: flex;
  border: 10px solid var(--yellow);
  position: absolute;
  background-color: #fcf5e6;
}

.information__item-col {
  border-right: 2px solid #e0d9c8;
  padding-bottom: 20px 0;
  padding: 20px 0;
}

.information__item-col:last-child {
  border-right: 0;
}

.information__item-col-right {
  flex: 2;
  padding: 45px;
}

.desc__item {
  display: flex;
  margin: -10px 20px;
}

.desc__item:last-child {
  margin-bottom: -30px;
} 

.desc__list {
  padding: 30px 0;
}

.desc__item_pic {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  margin-left: 15px;
}

.desc__icon {
  width: 100%;
  height: 100%;
}

.desc__item_text {
  font-size: 13px;
  margin-bottom: 30px;
}

.delivery__image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 75px;
}


.information__item-col--left {
  flex-basis: 33%;
  padding: 0;
}
  
.information__item-col--table {
  flex: 2;
  padding: 0;
}

.size-table__image {
display: flex;
align-items: center;
justify-content: center;
margin: 35px -16px;
}

.size-table__image-pic {
  width: 80%;
}

.size-table__list {
  font-size: 12px;

}

.size-table__desc {
  width: 70%;
  margin: auto;
}
.size-table__item {
  margin-top: 10px;
}

.table-size {
  border-collapse: collapse;
  font-size: 12px;
}

.table-name {
width: 18%;
}


td {
  border: 1px solid #e0d9c8;
  padding: 21px 10px;
  width: 10%;
  text-align: center;
} 

.table-name--color {
  background-color: #f6efe0;
  font-weight: bold;
}

.brand__image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 75px;
}


.delivery__image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 75px;
}

.brand__image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 75px;
}

.tshirts-choice__color {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  padding-bottom: 30px;
}

.color__btn input {
  position: absolute;
  top: 0;
  left: -9999px;
}

.color__btn:last-child {
  margin-right: 0;
}

.color__btn-radio {
  display: inline-block;
  border: 1px solid #e0d9c8;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  height: 25px;
  min-width: 25px;
  position: relative;
}

.color__btn-radio--black {
  background-color: var(--black);
}

.color__btn-radio--white {
  background-color: #fcf5e6;
}
.color__btn-radio--green {
  background-color: #529029;
}
.color__btn-radio--blue {
  background-color: #39498d;
}
.color__btn-radio--red {
  background-color: var(--red);
}

.color__btn-radio:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 31px;
  height: 31px;
  border: 3px solid transparent;
  border-radius: 50%;
  left: -7px;
  bottom: -7px;
}


.information__item-col {
  border-right: 2px solid #e0d9c8;
  
}

.information__item-col:last-child {
  border-right: 0;
}

.information__item-col-right {
flex: 2;
padding: 45px;
}


.size__btn-radio:hover {
    background-color: var(--yellow);
  }
    
input[type="radio"]:checked+.size__btn-radio {
      background-color: var(--yellow);
  }
    
input[type="radio"]:disabled+.size__btn-radio {
  color: #e0d9c8;
  }
    
input[type="radio"]:disabled+.size__btn-radio:hover {
    background-color:  initial;
  }


.ruble__item {
  font-size: 17px;
}

.desc__item_text-delivery {
  margin-bottom: -25px;
}

/* media */
@media screen and (max-width:1310px){
  
  .hero__content{
      max-width: 800px;
  }

  .lined-text--style-games {
    transform: translate(-20%, 75%);
  }

  .fade-slider__text--style-present {
    transform: translate(-240%, 105%);
  }

 
  .container__products {
    margin: 50px 180px;
  }

  .container__tshirt {
    margin: 7%;
  }

  .container__collections {
    margin: 7%;
  }
  
  .footer__container {
    margin: 50px 180px;
  }
}

